name: Deploy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - uses: actions/checkout@v3

      # 2️⃣ Zip the app bundle (appspec.yml + html folder)
      - name: Zip app
        run: zip -r my-app.zip appspec.yml html/

      # 3️⃣ Upload zip to S3 (CodeDeploy artifact bucket)
      - name: Upload to S3
        run: aws s3 cp my-app.zip s3://${{ secrets.ARTIFACT_BUCKET }}/my-app.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          AWS_DEFAULT_REGION: ap-south-1

      # 4️⃣ Trigger CodeDeploy Blue/Green deployment
      - name: Trigger CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name ${{ secrets.CODEDEPLOY_APP_NAME }} \
            --deployment-group-name ${{ secrets.CODEDEPLOY_DG_NAME }} \
            --s3-location bucket=${{ secrets.ARTIFACT_BUCKET}},bundleType=zip,key=my-app.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          AWS_DEFAULT_REGION: ap-south-1
